/* Forms styles */
.form-container {
    max-width: 600px; /* Increased width */
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.form-container input{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container textarea {
    width: 95%;
    height: 150px; /* Made larger */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 200, 33);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: rgb(104, 255, 129);
}

.form-container p {
    text-align: center;
}

.form-container a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
}

.form-container a:hover {
    text-decoration: underline;
}

.error-box {
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #f5c6cb; /* Darker red border */
    color: #721c24; /* Dark red text */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.error-box ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

